=link_to(new_meeting_path(meeting: {doctor_id: doctor.id})) do
  .card.my-4{style:"width: 20rem;"}
    .card-body
      .row
        .col-md-5
          -# = image_tag '', alt: '', height: '', width: '', class: 'img-fluid'
          %svg.bd-placeholder-img.bd-placeholder-img-lg.img-fluid{}
            %rect{width: "100%", height: "100%", fill: "#868e96"}
        .col-md-7
          .card-title= doctor.view
          .card-text= doctor.specialty.name